// Import Normalize core
@import "~normalize.css/normalize.css";

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Import Bulma's core
@import "variables.scss";


// Custom global style overrides.
* {
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}

// Animations
.fade-move {
  transition: all 1s linear;
}

.fade-leave-active {
  transition: opacity 0.5s linear, transform 0.5s linear;
  transition-delay: calc( 0.1s * (var(--total) - var(--i)) );
}

.fade-enter-active {
  transition: opacity 0.5s linear, transform 0.5s linear;
  transition-delay: calc( 0.1s * var(--i) );
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter {
  transform: translateX(-1em);
}

.fade-leave-to {
  transform: translateX(1em);
}
